<%= form_for([@post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item-image usuario">
    <span class="item-image-wrap"><img width="35" height="35" src="/assets/user-chuck.jpg" /></span>
  </div>

  <div class="field">
    <%= f.text_area :body, class: 'comment-textarea', placeholder: 'Deixe seu comentario...' %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Postar', class: 'button primary small disable' %>
  </div>
<% end %>
