<%= render 'user_profile' %>

<section id="news-feed">
  <div class="box">
    <header class="box-header">
      <%= link_to 'Atualizar Status', new_post_path, class: 'button' %>
    <div class="box-content">
      <div class="list-view ui-comments-list">
        <ul>


          <% @posts.each do |post| %>
            <li>
              <div class="item-image usuario">
                <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
              </div>
              <div class="item-info">
                <div class="item-activity">
                  <div class="user-name">
                    Chuck Norris
                  </div>
                  <div class="user-comment">

                    <%= simple_format(post.body) %>
                  
                  </div>
                  <div class="item-actions">
                    <span class="action-like">
                      <a href="#">Curtir</a>
                    </span>
                    <span class="action-comment">
                      <%= link_to 'Comentar', post %>
                    </span>
                    <span class="action-comment">
                      <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Tem certeza?' } %>
                    </span>
                    <span class="count-likes">
                      <a>2</a>
                    </span>
                    <span class="count-comments">
                      <a>0</a>
                    </span>

                    <span class="timestamp"><%= time_ago_in_words(post.created_at) %> atrás</span>

                  </div>
                </div>
              </div>
            </li>
          <% end %>


        </ul>
      </div>
    </div>
  </div>
</section>
